[submodule "messages/proto"]
	path = messages/proto
	url = https://github.com/helium/proto.git
	branch = master
[submodule "lfc-sys/longfi-core"]
	path = lfc-sys/longfi-core
	url = https://github.com/helium/longfi-core.git
[submodule "libloragw-sx1302-sys/vendor/sx1302_hal"]
	path = libloragw-sx1302-sys/vendor/sx1302_hal
	url = git@github.com:Lora-net/sx1302_hal.git
